@use "../abstracts/" as *;

.filter-bar {
    @include frame();
    display: flex;
    justify-content: space-between;

    height: min(4rem, 40vh);
    
    &__filter-tags {
        @include list($row: "true", $off-markers: "true");
        flex-wrap: wrap;
        overflow-y: scroll;
    }

    & * {
        line-height: normal;
    }
}